device: "cuda"
task: "forecast"

# history_length = time_series_length - forecast_length
dataset_config:
  dataloader_name: ShardedDataloaderV1
  dataset_name: foundation_model_data_all_univariate_10000_0_10000/blind
  time_series_length: 256
  forecast_length: 128
  metadata_length: 3460 
  timestamp_start_idx: 3
  timestamp_end_idx: 2819
  dataset_description_start_idx: 2819
  dataset_description_end_idx: 3203
  continuous_start_idx: 3203
  continuous_end_idx: 3459
  dataset_idx_start_idx: 3459
  dataset_idx_end_idx: 3460
  text_embedding_dim: 384
  batch_size: 2
  num_timestamp_features: 11
  num_correlates: 2
  num_datasets: 10000

# 170752

foundation_model_config:
  model_name: "synthefy_foundation_forecasting_model_v2"
  decoder_checkpoint_name: ""
  decoder_input_patch_len: 32
  decoder_output_patch_len: 128
  decoder_num_layers: 10
  decoder_model_dims: 256 # 512
  decoder_num_heads: 16
  use_metadata: true
  finetune_timesfm_from_beginning: false 
  finetune_timesfm_after_epochs: 100
  timeseries_token_dims: 9
  random_vector_instead_text: false
  mask_timestamp: false
  
metadata_encoder_config:
  channels: ${foundation_model_config.decoder_model_dims}
  n_heads: 8
  num_encoder_layers: 6
  patch_len: ${foundation_model_config.decoder_input_patch_len}
  stride: ${foundation_model_config.decoder_input_patch_len}

execution_config:
  save_path: training_logs
  run_name: "synthefy_foundation_model_forecasting_v2_use_metadata_${foundation_model_config.use_metadata}"
  generation_save_path: generation_logs
  experiment_name: Time_Series_Diffusion_Training

training_config:
  max_epochs: 10
  learning_rate: 1e-4
  n_plots: 4
  auto_lr_find: True
  check_test_every_n_epoch: 1
  log_every_n_steps: 1
  num_devices: 1
  val_check_interval: 1.0
  check_val_every_n_epoch: 1
  strategy: "ddp_find_unused_parameters_true"