device: "cuda:0"
task: "forecast"
trainer: "foundation_model"
save_key: "val_loss" #"val_loss"

# history_length = time_series_length - forecast_length
dataset_config:
  dataloader_name: OTFSyntheticDataloader # V3ShardedDataloader
  dataset_name: synthetic_tabular_v3e # haver4M_synthefy250K
  v3_data_paths: ["/workspace/fmv3_datasets/chronos_1M/fmv3_chronos_all/pretrain/"]
  prior_config_path: "src/synthefy_pkg/prior/config/synthetic_configs/config_small_tabular.yaml"
  num_channels: 1
  time_series_length: 768
  forecast_length: 128
  metadata_length: 9604 
  timestamp_start_idx: 3
  timestamp_end_idx: 8451
  dataset_description_start_idx: 8451
  dataset_description_end_idx: 8835
  continuous_start_idx: 8835
  continuous_end_idx: 9603
  dataset_idx_start_idx: 9603
  dataset_idx_end_idx: 9604
  text_embedding_dim: 384
  batch_size: 4
  accumulate_grad_batches: 16 # TODO: May need to ablate this, matching TabICL for now
  num_timestamp_features: 11
  num_correlates: 43
  num_datasets: 10000
  use_relation_shards: false
  use_window_counts: false
  num_workers: 5
  using_synthetic_data: true
  is_regression: true
  is_tabular: true

# 170752
foundation_model_config:
  model_name: "synthefy_foundation_forecasting_model_v3e"
  decoder_checkpoint_name: ""
  decoder_input_patch_len: 32
  decoder_output_patch_len: 128
  decoder_num_layers: 5
  decoder_model_dims: 128
  decoder_num_heads: 8
  use_metadata: true
  finetune_timesfm_from_beginning: false
  finetune_timesfm_after_epochs: 100
  timeseries_token_dims: 9
  random_vector_instead_text: false
  mask_timestamp: false
  use_column_identifier: true
  position_embedding: correlate
  train_epoch_length: 100000
  val_epoch_length: 10000
  block_target_mask_range: 8
  block_target_mask_mean: 48
  block_mask_num: 1
  generate_point_forecast: false
  generate_probabilistic_forecast_using_bins: true
  absolute_max_bar_value: 20 # 50
  num_bins: 500
  bound_output_scale: 0.0
  train_epoch_length: 100
  val_epoch_length: 10
  test_epoch_length: 10
  masking_scheme: "train_test"
  attention_masking_scheme: "interpolation"

metadata_encoder_config:
  channels: ${foundation_model_config.decoder_model_dims}
  n_heads: 8
  num_encoder_layers: 6
  patch_len: ${foundation_model_config.decoder_input_patch_len}
  stride: ${foundation_model_config.decoder_input_patch_len}

execution_config:
  save_path: training_logs
  experiment_name: "unify_training_changes_small"
  run_name: "synthetic_fm_tabular_v3e"
  generation_save_path: generation_logs
  use_mlflow: true
  mlflow_tracking_uri: "http://10.15.33.39:5000" # H100 - 4

training_config:
  description_mask_ratio: 0.8
  target_mask_ratio: 0.5
  patience: 50
  learning_rate: 1e-4
  n_plots: 4
  auto_lr_find: True
  check_test_every_n_epoch: 1
  log_every_n_steps: 1
  check_test_every_n_epoch: 1000
  num_devices: 1
  val_check_interval: 5000
  check_val_every_n_epoch: 1000
  strategy: "ddp"
  save_all_checkpoints: false
  save_checkpoint_every_n_epochs: -1
  save_checkpoint_every_n_steps: 5000
  model_name: "foundation_model"
  model_file: "fmv3e"
  num_ar_batches: 0
  precision: "16-mixed"
  gradient_clipping: 1.0
  lr_scheduler:
    scheduler_name: "cosine_warmup"
    warmup_proportion: 0.02
    max_steps: -1
