device: "cuda"
task: "cltsp"

dataset_config:
  dataset_name: ppg
  time_series_length: 256
  required_time_series_length: 256
  num_channels: 1
  num_discrete_conditions: 18
  num_discrete_labels: 10
  num_continuous_labels: 17
  num_timestamp_labels: 0
  use_timestamp: False
  latent_dim: 128
  discrete_condition_embedding_dim: 128
  batch_size: 16
  num_workers: 32

  # Constraints related
  use_constraints: False
  extract_equality_constraints_from_windows: False
  projection_during_synthesis: clipping
  # projection_during_synthesis: strict
  constraints: ["min", "max"]
  # constraints: ["argmax", "max and argmax", "argmin", "min and argmin"]

encoder_config:
  denoiser_name: "cltsp_v3"
  positional_embedding_dim: 128
  channel_embedding_dim: 16
  channels: 256
  n_heads: 8
  n_layers: 12
  dropout_pos_enc: 0.2
  use_metadata: true
  use_periodic_projection: true
  patch_len: 32
  stride: 32
  metadata_embedding_dim: 32


execution_config:
  save_path: training_logs
  run_name: cltsp_ppg
  generation_save_path: generation_logs
  experiment_name: cltsp_ppg
  inference_seed: 0

training_config:
  max_epochs: 1000
  patience: 20
  n_plots: 10
  auto_lr_find: True
  check_val_every_n_epoch: 3
  check_test_every_n_epoch: 3
  log_every_n_steps: 1
  num_devices: 1
  strategy: "ddp_find_unused_parameters_true"


  device: cuda
  seed: 42
  num_workers: 4
  training:
      learning_rate: 1e-3
      max_epochs: 100
      log_dir: /tmp/ppg_tstr_training
      check_val_every_n_epoch: 3
      check_test_every_n_epoch: 3
      num_devices: 1
