device: "cuda"
task: "forecast"

# history_length = time_series_length - forecast_length
dataset_config:
  dataset_name: air_quality
  num_channels: 6
  time_series_length: 96
  forecast_length: 32
  num_discrete_labels: 2  # Look for `num_original_discrete` in the preprocess stdout.
  num_discrete_conditions: 29
  num_continuous_labels: 8
  discrete_condition_embedding_dim: 128

  latent_dim: 64
  num_timestamp_labels: 3
  use_metadata: True
  batch_size: 256

# These parameters are fixed for the pretrained timesfm model
timesfm_config:
  checkpoint_name: "google/timesfm-2.0-500m-pytorch"
  input_patch_len: 32
  output_patch_len: 128
  num_layers: 50
  model_dims: 1280
  num_heads: 16

execution_config:
  save_path: training_logs
  run_name: "timesfm2_finetuning_air_quality"
  generation_save_path: generation_logs
  experiment_name: Time_Series_Diffusion_Training

training_config:
  max_epochs: 50
  learning_rate: 1e-4
  n_plots: 4
  auto_lr_find: True
  check_val_every_n_epoch: 1
  log_every_n_steps: 1
  num_devices: 1
  strategy: "auto"

  # Taken from patches
  patience: 30
  lr_scheduler:
    scheduler_name: "exponential"
    gamma: 0.999
