device: "cuda"
task: "forecast"

dataset_config:
  dataset_name: electricity_icml
  num_channels: 1
  time_series_length: 96
  forecast_length: 32
  num_discrete_labels: 1
  num_discrete_conditions: 417
  num_continuous_labels: 0
  discrete_condition_embedding_dim: 128

  latent_dim: 64
  num_timestamp_labels: 0
  use_metadata: True
  use_timestamp: False
  batch_size: 2048

denoiser_config:
  denoiser_name: "synthefy_forecasting_model_v1"
  d_model: 256 
  patch_len: 16
  stride: 8
  dropout: 0.1
  e_layers: 6
  d_layers: 1
  d_ff: 512
  n_heads: 8
  activation: "gelu"
  factor: 3
  output_attention: True
  use_metadata: True

metadata_encoder_config:
  use_sa_layer: True
  channels: ${denoiser_config.d_model}
  n_heads: 8
  num_encoder_layers: 2

execution_config:
  save_path: training_logs
  run_name: "synthefy_forecasting_model_v1_electricity"
  generation_save_path: generation_logs
  experiment_name: Time_Series_Diffusion_Training

training_config:
  patience: 20
  lr_scheduler:
    scheduler_name: "exponential"
    gamma: 0.999
  learning_rate: 1e-4
  n_plots: 4
  save_after_every_iters: 5
  save_after_every_n_epochs: 5
  auto_lr_find: True
  check_val_every_n_epoch: 1
  log_every_n_steps: 1
  num_devices: 1
  strategy: "auto"
